<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
  <%- include modules/header.ejs %>






  
  <section class="py-5">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/">Главная</a> » <a href="/">Покупателям</a> » Получение товара
      </div>
      <h1>Оплата и доставка</h1>
    </div>
    <hr class="mb-5">
    <div class="container">
      <h3><strong>Доставка розница. Москва и обл.<span>+7(495) 181-04-48</span>&nbsp;&nbsp;</strong><strong><span style="text-decoration: underline;"><br></span></strong></h3>
      <p>Cанкт-Петербург и регионы:&nbsp;<strong>8 804 333 03 74 (Звонок бесплатный)</strong>.</p>
      <p>Самовывоз в городе Санкт-Петербург осуществляется по&nbsp;<strong>адресу</strong>: Санкт-Петербург, Комендантский проспект, д. 4 корп. 2, ТК КРУИЗ (вход со стороны Богатырского проспекта)</p>
      <p><strong>Курьерская доставка</strong>&nbsp;осуществляется в течении дня по тарифу 499 руб по&nbsp;<strong>Москве</strong>&nbsp;в пределах МКАД. За МКАД - 499 руб.+ 29 руб.за 1 км.от МКАД.&nbsp;По&nbsp;<strong>Санкт-Петербургу</strong>&nbsp;499 руб. + 25 руб. за 1 км от КАД.</p>
      <p><strong>Для других регионов.</strong>&nbsp;Доставка в любую точку России и СНГ транспортной компанией. Закажите на сайте полотенцесушитель, и мы вам перезвоним, или позвоните по телефону&nbsp;<strong>8 804-333-03-74</strong>&nbsp;(Звонок бесплатный).</p>
      <p><strong>Будьте осторожны!</strong> Все наши официальные дилеры работают по одной утвержденной розничной цене - цене, отраженной на официальном сайте.</p>
      <p><strong>УВАЖАЕМЫЕ&nbsp;</strong><strong><strong>ПОКУПАТЕЛИ</strong>, ПРИ ЗАКАЗЕ ПОЛОТЕНЦЕСУШИТЕЛЕЙ ТРЕБУЙТЕ У МЕНЕДЖЕРА ИМЕННОЙ ГАРАНТИЙНЫЙ СЕРТИФИКАТ!</strong></p>
      <h4 class="mt-4">ПРИМЕР СЕРТИФИКАТА:</h4>
      <div class="row">
        <div class="col-md-4">
          <a href="assets/img/garantiya_sertificat.jpg" data-fancybox><img class="img-fluid mb-4 w-" src="assets/img/garantiya_sertificat.jpg" alt=""></a>
        </div>
      </div>

      <h3>Для партнеров опт</h3>
      <p>Для оформления заказа на партию полотенцесушителей, пожалуйста, свяжитесь с нашим отделом продаж по телефону +7(499) 649-87-86. Для наших партнеров существуют следующие способы получения товара:&nbsp;</p>
      <ul>
        <li>самовывоз;</li>
        <li>доставка транспортной компанией.</li>
      </ul>
      <p>Оплата заказа осуществляется безналичным платежом путем перечисления необходимой суммы на расчетный счет компании &laquo;Терминус&raquo;.</p>
      <p>Склад предприятия &laquo;Терминус&raquo; расположен&nbsp;<strong>в г. Электросталь по адресу проспект Южный, д. 6</strong>.</p>
      <p><a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://market.yandex.ru/shop/288879/reviews" target="_blank">Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете.</a></p>
      <hr>
      <h2><strong>Дорогие друзья!</strong></h2>
      <p>С&nbsp;<strong>0-го по&nbsp;1 июня&nbsp;</strong>мы компенсируем вам часть доставки нашей&nbsp;<strong>скидкой</strong>:</p>
      <ul>
        <li>от 7 000 - 10 000 руб. - скидка 3%;</li>
        <li>от 10 000 - 20 000 руб. - скидка 4%;</li>
        <li>от 20 000 - 40 000 руб. - скидка 5%.</li>
      </ul>
      <p><strong>Способы оплаты</strong></p>
      <ul>
        <li><strong>Наличный расчет.</strong>&nbsp;Если товар доставляется курьером, то оплата осуществляется наличными при получении курьеру.</li>
        <li><strong>Банковской картой.</strong>&nbsp;Оплатить заказ Вы можете банковской картой. Оплата происходит через&nbsp;<strong>ПАО СБЕРБАНК</strong>&nbsp;с использованием банковских карт следующих платежных систем:</li>
      </ul>
      <iframe src="https://www.youtube.com/embed/i4A0RJjen50" allowfullscreen="" width="500" height="315" frameborder="0"></iframe>
    </div>
  </section>


  <%- include modules/footer.ejs %>

</body>
</html>
