<div class="filter">
  <div class="slab txt_18px mb-3 d-flex align-items-center" data-toggle="collapse" data-target="#filter">Фильтр продукции
    <i class="mt-1 ml-auto mr-1 d-block txt_14px d-lg-none icon icon_dropdown"></i>
  </div>
  <div id="filter" class="collapse">
    <p>Цена товара</p>
    <div class="pl-1 pr-3 mb-3">
      <input type="text" class="range-slider" name="price" value="">
    </div>
    <div class="row">
      <div class="mb-4 col-md-4 col-lg-12">
        <p>Серия</p>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idser0" name="ser" value="0">
          <label class="custom-control-label" for="idser0">Любая <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idser1" name="ser" value="1">
          <label class="custom-control-label" for="idser1">Люкс <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idser2" name="ser" value="2">
          <label class="custom-control-label" for="idser2">Стандарт <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idser3" name="ser" value="3">
          <label class="custom-control-label" for="idser3">Эконом <span class="txt-c-red">( 22 )</span></label>
        </div>
      </div>
      <div class="mb-4 col-md-4 col-lg-12">
        <p>Форма</p>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idform0" name="form" value="0">
          <label class="custom-control-label" for="idform0">Любая <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idform1" name="form" value="1">
          <label class="custom-control-label" for="idform1">Лесенка <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idform2" name="form" value="2">
          <label class="custom-control-label" for="idform2">МП-обр <span class="txt-c-red">( 22 )</span></label>
        </div>
      </div>
      <div class="mb-4 col-md-4 col-lg-12">
        <p>Подключение</p>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idconn0" name="conn" value="0">
          <label class="custom-control-label" for="idconn0">Любая <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idconn1" name="conn" value="1">
          <label class="custom-control-label" for="idconn1">Боковое <span class="txt-c-red">( 22 )</span></label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="idconn2" name="conn" value="2">
          <label class="custom-control-label" for="idconn2">Нижнее <span class="txt-c-red">( 22 )</span></label>
        </div>
      </div>
    </div>

    <p>Ширина</p>
    <div class="pl-1 pr-3 mb-3">
      <input type="text" class="range-slider" name="width" value="">
    </div>
    <p>Высота</p>
    <div class="pl-1 pr-3 mb-3">
      <input type="text" class="range-slider" name="height" value="">
    </div>
    <p>Межосевое Расстояние</p>
    <div class="pl-1 pr-3 mb-3">
      <input type="text" class="range-slider" name="dist" value="">
    </div>
    <hr>
    <div class="d-flex align-items-center">
      <button class="btn red mr-3">Выбрать</button> <span class="txt_12px">Выбрано: 220</span>
    </div>
  </div>
  <hr>
</div>
