<div class="footer bg-red">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 text-center">
        <a href="/"><img class="header__logo" src="assets/img/logo.png" alt=""></a>
        <p class="header__logo__text text-white">
          Интернет-магазин производителя<br>полотенцесушителей дизайна радиаторов
        </p>
      </div>
      <div class="col-lg-9 text-center">
        <div class="row align-items-center">
          <div class="col-lg-auto my-2 text-lg-right icons ml-lg-auto">
            <a href="#"><i class="icon icon_vk"></i></a>
            <a href="#"><i class="icon icon_fb"></i></a>
            <a href="#"><i class="icon icon_ok"></i></a>
            <a href="#"><i class="icon icon_yt"></i></a>
          </div>
          <div class="col-lg-auto my-2 text-lg-right icons">
            <a class="text-white" href="mailto:opt@terminus.ru"> opt@terminus.ru</a>
          </div>
          <div class="col-lg-auto my-2 text-lg-right icons">
            <button class="btn white ajax-modal" type="button" data-remote="/modal.html" data-target="#modal">Задать вопрос</button>
          </div>
        </div>
        <div class="row align-items-center">
          <ul class="ml-lg-auto mb-0 navbar d-block">
            <li class="nav-item"><a href="/about/">О заводе</a></li>
            <li class="nav-item active"><a href="/akcii_i_skidki.html">Акции % скидки</a></li>
            <li class="nav-item"><a href="/drugie_cveta.html">Другие цвета</a></li>
            <li class="nav-item"><a href="/oplata.html">Оплата и доставка</a></li>
            <li class="nav-item"><a href="/pokypatelyam/">Контроль</a></li>
            <li class="nav-item"><a href="/stan_partnerom/">Бизнесу</a></li>
            <li class="nav-item"><a href="/kontakty.html">Шоурумы в городах</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
