<div class="preheader bg-black py-3">
  <div class="container">
    <div class="d-flex">
      <button class="navbar-toggler collapsed" type="button"  data-mobile-toggle="true"></button>
      <div class="menu-mobile-block">
        <button type="button" class="preheader__close" data-mobile-toggle='true'>×</button>
        <nav class="navbar navbar-expand-lg px-0">
          <ul class="mb-0 collapse navbar-collapse" id="collapsibleNavbar">
            <li class="nav-item"><a href="/about/">О заводе</a>
              <div class="dropdown-menu">
                <a href="/about/tehnology.html">Технология производства</a>
                <a href="/about/rezultaty_sout.html">Результаты СОУТ</a>
                <a href="/about/karera.html">Карьера</a>
                <a href="/news/">Новости</a>
              </div>
            </li>
            <li class="nav-item active"><a href="/akcii_i_skidki.html">Акции % скидки</a>
            </li>
            <li class="nav-item"><a href="/drugie_cveta.html">Другие цвета</a>
            </li>
            <li class="nav-item"><a href="/oplata.html">Оплата и доставка</a>
            </li>
            <li class="nav-item"><a href="/pokypatelyam/">Контроль</a>
              <div class="dropdown-menu">
                <a href="/po_rabote_s_dempingom.html">По работе с демпингом</a>
                <a href="/po_rabote_s_pokupatelyami.html">По работе с покупателями</a>
                <a href="/po_rabote_s_partnerami.html">По работе с партнерами</a>
                <a href="/poleznoe/">Полезная информация</a>
                <a href="/kontrol_kachestva.html">Обращения по браку</a>
                <a href="/pokypatelyam/tovar-poluchenie.html">Получение товара</a>
                <a href="/pokypatelyam/vozvrat-tovara.html">Возврат товара</a>
                <a href="/howinstall/">Схемы установки</a>
                <a href="/guestbook/">Отзывы</a>
              </div>
            </li>
            <li class="nav-item"><a href="/stan_partnerom/">Бизнесу</a>
              <div class="dropdown-menu">
                <a href="/optovikam.html">Оптовикам</a>
                <a href="/stan_partnerom/">Как стать партнером</a>
                <a href="/dizayneram.html">Дизайнерам и Архитекторам</a>
                <a href="/partnerskie_programmy.html">Партнерские программы</a>
                <a href="/zastroyschikam.html">Застройщикам</a>
                <a href="/korporativnoe_obuchenie.html">Корпоративное обучение</a>
              </div>
            </li>
            <li class="nav-item"><a href="/kontakty.html">Шоурумы в городах</a>
              <div class="dropdown-menu">
                <a href="/kontakts/elstal.html">Производство</a>
                <a href="/contacts/"> Москва</a>
                <a href="/kontakts/sankt-peterburg.html">Санкт-Петербург</a>
                <a href="/kontakts/minsk.html">Минск</a>
                <a href="/kontakts/ekaterinburg.html">Екатеринбург</a>
                <a href="/kontakts/7251155b8c657b78666e57109030da93.html">Татарстан и Башкирия</a>
                <a href="/kontakts/samara.html">Самара</a>
                <a href="/kontakts/370e73cd71d983f707d5b7a914965845.html">Уфа</a>
                <a href="/kontakts/tyumen.html"> Тюмень</a>
                <a href="/kontakts/orenburg.html"> Оренбург</a>
                <a href="/kontakts/perm.html">Пермь</a>
                <a href="/kontakts/62bef03b77067921d6367d04571b4968.html">Челябинск</a>
                <a href="/kontakts/other_regions.html"> Другие регионы</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="ml-auto">
        <form>
          <div class="position-relative">
            <input class="white w-100" type="text" placeholder="Искать на сайте">
            <i class="icon icon_search_icon"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="header bg-red py-4">
  <div class="container">
    <div class="w-line"></div>
    <div class="row">
      <div class="col-lg-3 text-center">
        <a href="/"><img class="header__logo" src="assets/img/logo.png" alt=""></a>
        <p class="header__logo__text">
          Интернет-магазин производителя<br>полотенцесушителей дизайна радиаторов
        </p>
      </div>
      <div class="col-lg-9 d-flex flex-column justify-content-center">
        <div class="row align-items-center">
          <div class="col-lg-auto">
            <p class="txt_12px">Время работы c ПН по ПТ  09:00 - 20:00 Cб - Вс  Выходные</p>
          </div>
          <div class="col-lg-auto ml-auto">
            <div class="row">
              <div class="col-lg-auto text-lg-right icons">
                <a href="#"><i class="icon icon_vk"></i></a>
                <a href="#"><i class="icon icon_fb"></i></a>
                <a href="#"><i class="icon icon_ok"></i></a>
                <a href="#"><i class="icon icon_yt"></i></a>
              </div>
              <div class="col-lg-auto ml-auto col-last">
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-auto col-msk">
            <p class="txt_16px font-weight-bold mb-1">Москва и обл.</p>
            <p class="txt_14px font-weight-light">+7(495) 181-04-48</p>
          </div>
          <div class="col-md-4 col-lg-auto">
            <p class="txt_16px font-weight-bold mb-1">СПб, Самара, Екатеринбург</p>
            <p class="txt_14px font-weight-light">8 800-511-50-48 181-04-48</p>
          </div>
          <div class="col-md-8 col-lg-auto ml-auto">
            <div class="row">
              <div class="col-6 col-lg-auto text-lg-right">
                <p class="txt_16px font-weight-bold mb-1">Связаться по почте</p>
                <p class="txt_14px font-weight-light"><a class="white" href="mailto:opt@terminus.ru">opt@terminus.ru</a></p>
              </div>
              <div class="col-6 col-lg-auto ml-auto col-last text-lg-right">
                <p class="txt_16px font-weight-bold mb-1">Вопросы по опту</p>
                <p class="txt_14px font-weight-light">+7 (499) 649-87-86</p>
              </div>
            </div>
          </div>

        </div>
        <div class="row align-items-center">
          <div class="col-md-3 col-6 col-lg-auto">
            <p class="txt_16px font-weight-bold mb-1">Минск</p>
            <p class="txt_14px font-weight-light mb-0">+375(29)103-19-00</p>
          </div>
          <div class="col-md-3 col-6 col-lg-auto">
            <p class="txt_16px font-weight-bold mb-1">Казань, Уфа</p>
            <p class="txt_14px font-weight-light mb-0">8 800-511-50-48</p>
          </div>
          <div class="col-md-3 col-6 mt-3 mt-lg-0 col-lg-auto">
            <p class="txt_16px font-weight-bold mb-1">Другие регионы</p>
            <p class="txt_14px font-weight-light mb-0">8 804-333-03-74</p>
          </div>
          <div class="col-md-3 col-6 mt-3 mt-lg-0 col-lg-auto ml-auto">
            <div class="row">
              <div class="col-lg-auto text-lg-right d-none d-lg-block">
                <button class="btn white ajax-modal" type="button" data-remote="/modal.html" data-target="#modal">Задать вопрос</button>
              </div>
              <div class="col-12 col-lg-auto ml-auto col-last">
                <a href="#" class="cart txt_16px font-weight-bold float-lg-right"><img class="mr-2" src="assets/vectors/cart.svg" alt=""> 10 товаров</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gray py-4">
  <div class="container lower_menu">
    <div class="row">
      <div class="col-lg-auto my-3">
        <a href="#" class="d-flex align-items-center"><i class="icon icon_ic1 mr-2"></i> Полотенцесушители</a>
      </div>
      <div class="col-lg-auto my-3">
        <a href="#" class="d-flex align-items-center"><i class="icon icon_ic2 mr-2"></i> Электрические полотенцесушители</a>
      </div>
      <div class="col-lg-auto my-3">
        <a href="#" class="d-flex align-items-center"><i class="icon icon_ic3 mr-2"></i> Водяные полотенцесушители</a>
      </div>
      <div class="col-lg-auto my-3">
        <a href="#" class="d-flex align-items-center"><i class="icon icon_ic4 mr-2"></i> Аксессуары и комплектующие</a>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal">
  <div class="modal-dialog sub-small">
    <div class="modal-content">

    </div>
  </div>
</div>
