<div class="prod-item" >
  <a href="#"><img class="img" src="assets/img/prod.png" alt="Полотенцесушитель Юпитер (скрытая проводка)"></a>
  <div class="prod-item__name">
    <a href="#" class="txt-c-black font-weight-light txt_14px">Полотенцесушитель "Юпитер" (скрытая проводка)</a>
  </div>
  <p class="prod-item__price">4 200 руб.</p>
  <div class="prod-item__block">
    <div class="d-flex align-items-end w-100">
      <div class="w-100 mr-2">
        <div class="txt_12px txt-c-black mb-1">Размер (ш/в)</div>
        <div class="select_wrapper">
          <select name="name" class="w-100">
            <option value="500/600">500/600</option>
            <option value="500/600">500/600</option>
            <option value="500/600">500/600</option>
            <option value="500/600">500/600</option>
          </select>
        </div>
      </div>
      <button class="btn red">Купить</button>
    </div>
  </div>
</div>
