<div class="news-item" >
    <img class="img" src="assets/img/news.png" alt="Ольгино мкр, Граничная ул.">
    <p class="news-item__date">22 апреля 2018</p>
    <a href="#" class="news-item__caption">Трансцендентальный мир: основные моменты</a>
</div>
