select,
input,
textarea, .inputlike{
  font-family: 'Roboto',Helvetica Neue,Arial,sans-serif;
  font-size: $txt_12px;
  background: #FFFFFF;
  border: 1px solid $c-black;
  box-sizing: border-box;
  padding: 0.25rem 0.7rem;
  outline: none;
  min-height: 2rem!important;
  line-height: 1.2rem!important;
  border-radius: 4px;
  text-align: left;
  &.white{
    border-color: #fff;
    color: #fff;
    background: transparent;
    &::placeholder{
      color: #fff;
    }
  }
}

.w-100 {
  select,
  input,
  textarea, .inputlike{
    width: 100%;
  }
}

.inputlike {
  input {
    border: 0;
    padding: 0;
    min-height: 0;
    line-height: 1rem;
  }
}

.select_wrapper {
  position: relative;
  select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2rem;
    cursor: pointer;
  }
  &:after {
    font-family: icomoon;
    content: "\e90a";
    position: absolute;
    right: 0.8rem;
    pointer-events: none;
    font-size: 5.5px;
    top: 50%;
    margin-top: 2px;
    line-height: 0;
    color: $c-black;
  }
}
