.txt-c-black {color: $c-black;}
.txt-c-red {color: $c-red;}
.txt-c-gray {color: $c-gray;}
.txt-c-gray-500 {color: $gray-500;}

.txt_12px {font-size: $txt_12px;}
.txt_14px {font-size: $txt_14px;}
.txt_16px {font-size: $txt_16px;}
.txt_18px {font-size: $txt_18px;}
.txt_24px {font-size: $txt_24px;}
.txt_30px {font-size: $txt_30px;}
.txt_48px {font-size: $txt_48px;}

.slab {font-family: 'RobotoSlab', Helvetica Neue,Arial,sans-serif;}
