$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$path-assets: "../assets";
$path-fonts: "#{$path-assets}/fonts";


$c-black: #3E3737;
$c-red: #AF2B3C;
$c-gray: #F6F6F6;

$txt_11px: 0.6875rem;;
$txt_12px: 0.75rem;
$txt_14px: 0.875rem;
$txt_16px: 1rem;
$txt_18px: 1.125rem;
$txt_24px: 1.5rem;
$txt_30px: 1.875rem;
$txt_48px: 3rem;

$mobile-menu-width: 18rem;
